.project__component{
    width:11rem;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}
.project__component>img{
    max-width:172px;
}
.text{
    text-align: end;
    color: var(--deep--gray);
}

.project__component:hover .view__project{
    opacity: 1;
}


.view__project{
    position: absolute;
    display: flex;
    align-items: center;
    left:8%;
    border-radius: 25px;
    height: 84%;
    width: 84%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    font-weight: 400;
    transform: scale(1.2);
        color: black;
  
}
.view__project>p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:0.7;
}
.view__project>p>a{
color:black;
text-decoration: none;
}
.view__project>p>a>.MuiSvgIcon-root:hover{
    color:var(--green-color) !important;
    cursor: pointer !important;
}
