
.header{
    width: 100%;
display: flex;
justify-content:space-between;
align-items: center;
position: sticky;
top:0;
height:50px;
z-index: 999;
color:var(--common-color);
background-color: white;
font-weight: 700;
box-shadow: 0 2px 10px 2px var(--shadow--strong);

}
.logo__container{
flex:0.3;

    margin-left:40px;

}

.header__logo{
    width: 30px;
    object-fit: cover;
    height: 30px;
    cursor:pointer;
    border: none;
outline: none;
    border-radius: 50%;
}
.pages{
    flex:0.6;
    display: flex;
    gap:20px;
    justify-content: center;
}
.pages>p{
    cursor: pointer;
    transition:0.2s ease-in-out;
    border-color: var(--common-color);
    border:none;
    border:2px solid transparent;
}
.pages>p:hover{
    border-bottom:2px solid var(--common-color);
}

.hamburger{
    flex:0.1;
    display:none;
   height: 100%;
    position:relative;
    height: 100%;

}
.hamburger__line{
    width:25px;
    position:absolute;
    right:20px;
    top:15px;
    text-align: left;
    height:2px;
    background-color: var(--gray--color);
    transition: 0.5s ease-in-out;

   
}

.open{
    transform-origin: -10px;
    z-index: 999;
    top:10px;
    transform: rotate(45deg) ;
    
}

.open::after{
   background-color:transparent !important;
}
.open::before{
    transform: rotate(-90deg) translateY(-1px) translateX(12px);
}

.hamburger__line::after{
    position: absolute;
    content:"";
    top:7px;
    width:18px;
    background-color: var(--gray--color);
    height: 2px;
}
.hamburger__line::before{
    position: absolute;
    content:"";
    top:14px;
    width:25px;
    background-color: var(--gray--color);
    height: 2px;
}
.ham{
    display: flex;
    width: 150px;
    padding-top:50px;
    position: fixed;
    color:white;
    padding-left: 20px;
    border-radius: 0 0 0 20px;
    background-color: var(--deep--gray);
    height: 350px;
    transition:0.5s ease-in-out;
    top:0;
    right: 0;
    flex-direction: column;
}

.ham>p{
    cursor: pointer;
    border:none;
    transition:0.3s ease-in-out;
    position: relative;
    border-bottom: 2px solid transparent;
}




.ham>p:hover{

border-bottom: 2px solid var(--morph_color);

}
.trans{
    transform: translateX(100%);
}

@media (max-width:700px){
.hamburger{
    display: block;
}
.pages{
    display: none;
}

}