@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

:root{

  --shadow--strong:rgba(0,0,0,0.24);
  --gray--color:gray;
  --morph_color: hsl(180deg 100% 40% / 20%);
  --deep--gray:rgb(57, 62, 70);
  --border-color:rgba(110,0,255,0.5);
  --green-color:#3fbf86;
  --background-color:linear-gradient(130deg,#27292e,#121213)
}


body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  scroll-behavior:smooth;

}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
